[Unit]
Description=JellyPoster
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python [UPDATE_PATH]/JellyPoster.py
Restart=always

[Install]
WantedBy=multi-user.target
